@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
:root {
    --main-color: rgb(19, 19, 19);
    --second-color: rgb(216, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Metal Mania', cursive;
}
body {
    display: flex;
    height: 100vh;
    font-size: 50px;
}

.leftDiv{
    height: 100vh;
    width: 35%;
    min-width: 200px;
    background-image: url(formImages/aPOjCtJJIC1rcnitWmJUjZStMdd.jpg) ;
    background-size: cover;
}
.logoDiv {
    height: 200px;
    margin-top: 350px;
    background-color: black;
    opacity: 70%;
    display: flex;
    justify-content: center;
}

.logoDiv img {
    opacity: 100%;
}

.rightDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 65%;
    align-items: center;
    background-color: rgb(34, 34, 34) ;
}
.header  {
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.header h1 {
    letter-spacing: 2.5px;
    color: var(--second-color);
}
.header p {
    color: var(--second-color);
    padding-top: 50px;
}

.formContainer {
    width: 100%;
    height: 250px;
    display: flex;
    flex-flow: column wrap;
    padding-top:40px;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    gap: 10px;
}
.form {
    display: flex;
    width: 50%;
    height: 40px;
    justify-content: space-between;
    font-size: large;
}


button {
    height: 50px;
    width: 100px;
    border-radius: 10% 10% 10% 10%;
    margin-top: 50px;
    margin-right: 450px;
    background-color: var(--second-color);
}

label {
    color: var(--second-color);
}
input {
    font-size: large;
}

input:focus {
    background-color: var(--second-color)
}


button:focus {
    background-color: var(--main-color);

}




@media only screen and (min-width: 700px) {

    
    .formContainer {
        margin-top: 40px;
        padding-top: 50px;
        padding-left: 15px;
    }
    
}

